core/src/main/resources/properties/OpenClinica-ODM1-3-0-OC2-0-foundation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.openclinica.org/ns/odm_ext_v130/v3.1"
           xmlns="http://www.openclinica.org/ns/odm_ext_v130/v3.1"
           xmlns:odm="http://www.cdisc.org/ns/odm/v1.3"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="http://www.w3.org/2001/03/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:import schemaLocation="ODM1-3-0.xsd" namespace="http://www.cdisc.org/ns/odm/v1.3" />
    <xs:simpleType name="dateOrDatetime">
          <xs:restriction base="xs:string">
            <xs:pattern   value="[0-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9](T[0-2][0-9]:[0-5][0-9]:[0-5][0-9](\.[0-9]+)?)?((\+|-)[0-2][0-9]:[0-5][0-9])?"/>
          </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="OCodmComplexTypeDefinition-MultiSelectListRef">
		<xs:sequence>
			<xs:group ref="MultiSelectListRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="MultiSelectListRefAttributeDefinition"/>
		<xs:attributeGroup ref="MultiSelectListRefAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-MultiSelectList">
		<xs:sequence>
			<xs:element ref="MultiSelectListItem" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="MultiSelectListElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="MultiSelectListAttributeDefinition"/>
		<xs:attributeGroup ref="MultiSelectListAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-MultiSelectListItem">
		<xs:sequence>
			<xs:element      ref="odm:Decode"/>
			<xs:group        ref="MultiSelectListItemElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="MultiSelectListItemAttributeDefinition"/>
		<xs:attributeGroup ref="MultiSelectListItemAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-StudyGroupClassList">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="StudyGroupItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:group ref="StudyGroupClassListElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyGroupClassListAttributeDefinition"/>
		<xs:attributeGroup ref="StudyGroupClassListAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-StudyGroupItem">
		<xs:sequence>
			<xs:group ref="StudyGroupItemElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyGroupItemAttributeDefinition"/>
		<xs:attributeGroup ref="StudyGroupItemAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-StudyDetails">
		<xs:sequence>
			<xs:element ref="StudyDescriptionAndStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ConditionsAndEligibility" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="FacilityInformation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="RelatedInformation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StudyParameterConfiguration" minOccurs="1" maxOccurs="1"/>
			<xs:group ref="StudyDetailsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyDetailsAttributeDefinition"/>
		<xs:attributeGroup ref="StudyDetailsAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-StudyDescriptionAndStatus">
		<xs:sequence>
			<xs:element name="StudySytemStatus" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PrincipalInvestigator" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DetailedDescription" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Sponsor" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Collaborators" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StudyPhase" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ProtocolType" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ProtocolVerificationDate" type="odm:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Purpose" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Duration" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Selection" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Timing" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Allocation" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Masking" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Control" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InterventionModel" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StudyClassification" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="StudyDescriptionAndStatusElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyDescriptionAndStatusAttributeDefinition"/>
		<xs:attributeGroup ref="StudyDescriptionAndStatusAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-ConditionsAndEligibility">
		<xs:sequence>
			<xs:element name="Conditions" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Keywords" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EligibilityCriteria" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Sex" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Age" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HealthyVolunteersAccepted" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExpectedTotalEnrollment" type="odm:integer" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="ConditionsAndEligibilityElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ConditionsAndEligibilityAttributeDefinition"/>
		<xs:attributeGroup ref="ConditionsAndEligibilityAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-Age">
		<xs:simpleContent>
        	<xs:extension        base="odm:text">
              <xs:attributeGroup ref="AgeAttributeDefinition"/>
              <xs:attributeGroup ref="AgeAttributeExtension"/>
            </xs:extension>
        </xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-FacilityInformation">
		<xs:sequence>
			<xs:element name="FacilityName" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityCity" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityState" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityCountry" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityContactName" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityContactDegree" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityContactPhone" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FacilityContactEmail" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="FacilityInformationElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="FacilityInformationAttributeDefinition"/>
		<xs:attributeGroup ref="FacilityInformationAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-RelatedInformation">
		<xs:sequence>
			<xs:element name="MEDLINEIdentifier" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ResultsReference" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="URLReference" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="URLDescription" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="RelatedInformationElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="RelatedInformationAttributeDefinition"/>
		<xs:attributeGroup ref="RelatedInformationAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-StudyParameterConfiguration">
		<xs:sequence>
			<xs:element ref="StudyParameterListRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="StudyParameterList" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="StudyParameterConfigurationElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyParameterConfigurationAttributeDefinition"/>
		<xs:attributeGroup ref="StudyParameterConfigurationAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-StudyParameterListRef">
		<xs:sequence>
			<xs:group ref="StudyParameterListRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyParameterListRefAttributeDefinition"/>
		<xs:attributeGroup ref="StudyParameterListRefAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-StudyParameterList">
		<xs:sequence>
			<xs:element ref="StudyParameterListItem" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="StudyParameterListElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyParameterListAttributeDefinition"/>
		<xs:attributeGroup ref="StudyParameterListAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-StudyParameterListItem">
		<xs:sequence>
			<xs:element      ref="odm:Decode"/>
			<xs:group        ref="StudyParameterListItemElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyParameterListItemAttributeDefinition"/>
		<xs:attributeGroup ref="StudyParameterListItemAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-EventDefinitionDetails">
		<xs:sequence>
			<xs:element name="Description" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Category" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="EventDefinitionDetailsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="EventDefinitionDetailsAttributeDefinition"/>
		<xs:attributeGroup ref="EventDefinitionDetailsAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-SectionDetailsDefinition">
		<xs:sequence>
		<xs:element ref="Section" minOccurs="1" maxOccurs="unbounded"/>
		<xs:group ref="SectionDetailsElementExtension" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="SectionDetailsAttributeDefinition"/>
		<xs:attributeGroup ref="SectionDetailsAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-Section">
		<xs:attributeGroup ref="SectionAttributeDefinition"/>
		<xs:attributeGroup ref="SectionAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-FormDetails">
		<xs:sequence>
			<xs:element ref="SectionDetailsDefinition" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="VersionDescription" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RevisionNotes" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PresentInEventDefinition" minOccurs="1" maxOccurs="unbounded"/>
			<xs:group ref="FormDetailsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="FormDetailsAttributeDefinition"/>
		<xs:attributeGroup ref="FormDetailsAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-PresentInEventDefinition">
		<xs:sequence>
			<xs:group ref="PresentInEventDefinitionElementExtension" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="PresentInEventDefinitionAttributeDefinition"/>
		<xs:attributeGroup ref="PresentInEventDefinitionAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-ItemGroupDetails">
		<xs:sequence>
			<xs:element ref="PresentInForm" minOccurs="1" maxOccurs="unbounded"/>
			<xs:group ref="ItemGroupDetailsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ItemGroupDetailsAttributeDefinition"/>
		<xs:attributeGroup ref="ItemGroupDetailsAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-PresentInForm">
		<xs:sequence>
			<xs:element ref="ItemGroupRepeat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ItemGroupHeader" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="PresentInFormElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="PresentInFormAttributeDefinition"/>
		<xs:attributeGroup ref="PresentInFormAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-ItemGroupRepeat">
		<xs:sequence>
			<xs:group ref="ItemGroupRepeatElementExtension" />
		</xs:sequence>
		<xs:attributeGroup ref="ItemGroupRepeatAttributeDefinition"/>
		<xs:attributeGroup ref="ItemGroupRepeatAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-ItemDetails">
		<xs:sequence>
			<xs:element ref="ItemPresentInForm" minOccurs="1" maxOccurs="unbounded"/>
			<xs:group ref="ItemDetailsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ItemDetailsAttributeDefinition"/>
		<xs:attributeGroup ref="ItemDetailsAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-ItemPresentInForm">
		<xs:sequence>
			<xs:element name="LeftItemText" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RightItemText" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ItemHeader" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ItemSubHeader" type="odm:text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SectionLabel" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ItemResponse" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="SimpleConditionalDisplay" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="PresentInFormElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ItemPresentInFormAttributeDefinition"/>
		<xs:attributeGroup ref="ItemPresentInFormAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-ItemResponse">
		<xs:sequence>
			<xs:group ref="ItemResponseElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ItemResponseAttributeDefinition"/>
		<xs:attributeGroup ref="ItemResponseAttributeExtension"/>
	</xs:complexType>	
	<xs:complexType name="OCodmComplexTypeDefinition-SimpleConditionalDisplay">
		<xs:sequence>
			<xs:element name="ControlItemName" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OptionValue" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Message" type="odm:text" minOccurs="1" maxOccurs="1"/>
			<xs:group ref="SimpleConditionalDisplayElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SimpleConditionalDisplayAttributeDefinition"/>
		<xs:attributeGroup ref="SimpleConditionalDisplayAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-SubjectGroupData">
		<xs:sequence>
			<xs:group ref="SubjectGroupDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SubjectGroupDataAttributeDefinition"/>
		<xs:attributeGroup ref="SubjectGroupDataAttributeExtension"/>
	</xs:complexType>
	<xs:complexType name="OCodmComplexTypeDefinition-AuditLogs">
		<xs:sequence>
			<xs:element ref="AuditLog" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="AuditLogsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="AuditLogsAttributeDefinition"/>
		<xs:attributeGroup ref="AuditLogsAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-AuditLog">
		<xs:sequence>
			<xs:group ref="AuditLogElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="AuditLogAttributeDefinition"/>
		<xs:attributeGroup ref="AuditLogAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-DiscrepancyNotes">
		<xs:sequence>
			<xs:element ref="DiscrepancyNote" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="DiscrepancyNotesElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="DiscrepancyNotesAttributeDefinition"/>
		<xs:attributeGroup ref="DiscrepancyNotesAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-DiscrepancyNote">
		<xs:sequence>
			<xs:element ref="ChildNote" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="DiscrepancyNoteElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="DiscrepancyNoteAttributeDefinition"/>
		<xs:attributeGroup ref="DiscrepancyNoteAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-ChildNote">
		<xs:sequence>
			<xs:element name="Description" type="odm:text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DetailedNote" type="odm:text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="odm:UserRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ChildNoteElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ChildNoteAttributeDefinition"/>
		<xs:attributeGroup ref="ChildNoteAttributeExtension"/>
	</xs:complexType>
	
	

	
	
	
    
    <xs:group name="MultiSelectListRefElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="MultiSelectListElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="MultiSelectListItemElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyGroupClassListElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyGroupItemElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyDetailsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyDescriptionAndStatusElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ConditionsAndEligibilityElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="FacilityInformationElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="RelatedInformationElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyParameterConfigurationElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyParameterListRefElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyParameterListElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyParameterListItemElementExtension"> <xs:sequence/>  </xs:group>
	<!-- <xs:group name="EventDefinitionDetailsRefElementExtension"> <xs:sequence/>  </xs:group> -->
	<xs:group name="EventDefinitionDetailsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="FormDetailsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="PresentInEventDefinitionElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ItemGroupDetailsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ItemGroupRepeatElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="PresentInFormElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ItemDetailsRefElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ItemDetailsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ItemPresentInFormElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ItemResponseElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="SimpleConditionalDisplayElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="SubjectGroupDataElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="AuditLogsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="AuditLogElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="DiscrepancyNotesElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="DiscrepancyNoteElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ChildNoteElementExtension"> <xs:sequence/>  </xs:group>
		<xs:group name="SectionDetailsElementExtension"> <xs:sequence/>  </xs:group>
	
	
	
	
	<xs:element name="MultiSelectListRef" type="OCodmComplexTypeDefinition-MultiSelectListRef"/>
	<xs:element name="MultiSelectList" type="OCodmComplexTypeDefinition-MultiSelectList"/>
	<xs:element name="MultiSelectListItem" type="OCodmComplexTypeDefinition-MultiSelectListItem"/> 	
	<xs:element name="StudyGroupClassList" type="OCodmComplexTypeDefinition-StudyGroupClassList">
		<xs:unique name="UC-SGC-1">
			<xs:selector xpath="StudyGroupItem"/>
			<xs:field xpath="@Name"/>
		</xs:unique>
	</xs:element>
	<xs:element name="StudyGroupItem" type="OCodmComplexTypeDefinition-StudyGroupItem"/>  
	<xs:element name="StudyDetails" type="OCodmComplexTypeDefinition-StudyDetails"/>
	<xs:element name="StudyDescriptionAndStatus" type="OCodmComplexTypeDefinition-StudyDescriptionAndStatus"/>
	<xs:element name="ConditionsAndEligibility" type="OCodmComplexTypeDefinition-ConditionsAndEligibility"/>
	<xs:element name="Age" type="OCodmComplexTypeDefinition-Age"/>
	<xs:element name="FacilityInformation" type="OCodmComplexTypeDefinition-FacilityInformation"/>
	<xs:element name="RelatedInformation" type="OCodmComplexTypeDefinition-RelatedInformation"/>
	<xs:element name="StudyParameterConfiguration" type="OCodmComplexTypeDefinition-StudyParameterConfiguration"/>
	<xs:element name="StudyParameterListRef" type="OCodmComplexTypeDefinition-StudyParameterListRef"/>
	<xs:element name="StudyParameterList" type="OCodmComplexTypeDefinition-StudyParameterList"/>
	<xs:element name="StudyParameterListItem" type="OCodmComplexTypeDefinition-StudyParameterListItem"/> 
	<!-- <xs:element name="EventDefinitionDetailsRef" type="OCodmComplexTypeDefinition-EventDefinitionDetailsRef"/> -->
	<xs:element name="EventDefinitionDetails" type="OCodmComplexTypeDefinition-EventDefinitionDetails"/>
	<xs:element name="FormDetails" type="OCodmComplexTypeDefinition-FormDetails"/>
	<xs:element name="PresentInEventDefinition" type="OCodmComplexTypeDefinition-PresentInEventDefinition"/>
	<xs:element name="ItemGroupDetails" type="OCodmComplexTypeDefinition-ItemGroupDetails"/>
	<xs:element name="PresentInForm" type="OCodmComplexTypeDefinition-PresentInForm"/>
	<xs:element name="ItemGroupRepeat" type="OCodmComplexTypeDefinition-ItemGroupRepeat"/>
	<xs:element name="ItemDetails" type="OCodmComplexTypeDefinition-ItemDetails"/>
	<xs:element name="ItemPresentInForm" type="OCodmComplexTypeDefinition-ItemPresentInForm"/>
	<xs:element name="ItemResponse" type="OCodmComplexTypeDefinition-ItemResponse"/>
	<xs:element name="SimpleConditionalDisplay" type="OCodmComplexTypeDefinition-SimpleConditionalDisplay"/>
	<xs:element name="SubjectGroupData" type="OCodmComplexTypeDefinition-SubjectGroupData"/>
	<xs:element name="AuditLogs" type="OCodmComplexTypeDefinition-AuditLogs"/>
	<xs:element name="AuditLog" type="OCodmComplexTypeDefinition-AuditLog"/>
	<xs:element name="DiscrepancyNotes" type="OCodmComplexTypeDefinition-DiscrepancyNotes"/>
	<xs:element name="DiscrepancyNote" type="OCodmComplexTypeDefinition-DiscrepancyNote"/>
	<xs:element name="ChildNote" type="OCodmComplexTypeDefinition-ChildNote"/>
	<xs:element name="SectionDetailsDefinition" type="OCodmComplexTypeDefinition-SectionDetailsDefinition"/>
	<xs:element name="Section" type= "OCodmComplexTypeDefinition-Section" ></xs:element>
    
<!-- FormDefAttributeExtension -->
	<xs:attribute name="StudyEventOIDs" type="odm:text" />
<!-- ItemDefAttributeExtension -->
	<xs:attribute name="FormOIDs" type="odm:text" />
<!-- QuestionAttributeExtension -->
	<xs:attribute name="QuestionNumber" type="odm:text" />
    
<!--  SubjectDataAttributeExtension  -->
	<xs:attribute name="StudySubjectID" type="odm:text" />
	<xs:attribute name="UniqueIdentifier" type="odm:text" />
	<xs:attribute name="Status" type="odm:text" />
	<xs:attribute name="SecondaryID" type="odm:text" />
	<xs:attribute name="DateOfBirth" type="odm:date" />
	<xs:attribute name="YearOfBirth" type="odm:integer" />
	<xs:attribute name="Sex" type="odm:text" />
<!-- StudyEventDataAttributeExtension -->
	<xs:attribute name="StudyEventLocation" type="odm:text" />
	<xs:attribute name="StartDate" type="dateOrDatetime" />
	<xs:attribute name="EndDate" type="dateOrDatetime" />
	<xs:attribute name="SubjectAgeAtEvent" type="odm:integer" />
<!-- FormDataAttributeExtension -->
	<xs:attribute name="Version" type="odm:text" />
	<xs:attribute name="InterviewerName" type="odm:text" />
	<xs:attribute name="InterviewDate" type="odm:date" />
<!-- ItemDataAttributeExtension -->
	<xs:attribute name="ReasonForNull" type="odm:text" />
	
	
	
	
	<xs:attributeGroup name="MultiSelectListRefAttributeDefinition">
		<xs:attribute name="MultiSelectListID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="MultiSelectListAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid" use="required"/>
		<xs:attribute name="Name" type="odm:text"/>
		<xs:attribute name="DataType" type="odm:DataType"/>
		<xs:attribute name="ActualDataType" type="odm:DataType"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="MultiSelectListItemAttributeDefinition">
        <xs:attribute  name="CodedOptionValue" type="odm:value" use="required"/>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="StudyGroupClassListAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid" use="required"/>
		<xs:attribute name="Name" type="odm:text"/>
		<xs:attribute name="Type" type="odm:text"/>
		<xs:attribute name="Status" type="odm:text"/>
		<xs:attribute name="SubjectAssignment" type="odm:text"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="StudyGroupItemAttributeDefinition">
		<xs:attribute name="Name" type="odm:text"/>
		<xs:attribute name="Description" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="StudyDetailsAttributeDefinition">
		<xs:attribute name="StudyOID" type="odm:oidref" use="required"/>
		<xs:attribute name="SiteName" type="odm:text" />
		<xs:attribute name="ParentStudyName" type="odm:text" />
		
		
	</xs:attributeGroup>
	
	<xs:attributeGroup name="StudyDescriptionAndStatusAttributeDefinition">
		<xs:attribute name="OfficialTitle" type="odm:text"/>
		<xs:attribute name="SecondaryIDs" type="odm:text"/>
		<xs:attribute name="DateCreated" type="odm:date"/>
		<xs:attribute name="StartDate" type="odm:date"/>
		<xs:attribute name="StudyCompletionDate" type="odm:date"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ConditionsAndEligibilityAttributeDefinition"/>
	<xs:attributeGroup name="FacilityInformationAttributeDefinition"/>
	<xs:attributeGroup name="RelatedInformationAttributeDefinition"/>
	<xs:attributeGroup name="StudyParameterConfigurationAttributeDefinition"/>
	
	<xs:attributeGroup name="StudyParameterListRefAttributeDefinition">
		<xs:attribute name="StudyParameterListID" type="odm:oidref" use="required"/>
		<xs:attribute name="Value" type="odm:text" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="StudyParameterListAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid" use="required"/>
		<xs:attribute name="Name" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="StudyParameterListItemAttributeDefinition">
        <xs:attribute  name="CodedParameterValue" type="odm:value" use="required"/>
    </xs:attributeGroup> 
	
	<xs:attributeGroup name="AgeAttributeDefinition">
		<xs:attribute name="MinimumAge" type="odm:text"/>
		<xs:attribute name="MaximumAge" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="EventDefinitionDetailsAttributeDefinition">
		<xs:attribute name="StudyEventOID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="FormDetailsAttributeDefinition">
		<xs:attribute name="FormOID" type="odm:oidref" use="required"/>
		<xs:attribute name="ParentFormOID" type="odm:oidref"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="SectionDetailsAttributeDefinition">
		</xs:attributeGroup>
		
	<xs:attributeGroup name="SectionAttributeDefinition">
		<xs:attribute name="SectionLabel" type="odm:text"/>
		<xs:attribute name="SectionTitle" type="odm:text" />
		<xs:attribute name="SectionSubtitle" type="odm:text" />
		<xs:attribute name="SectionInstructions" type="odm:text" />
		<xs:attribute name="SectionPageNumber" type="odm:text" />
		</xs:attributeGroup>
	
	<xs:attributeGroup name="ItemGroupDetailsAttributeDefinition">
		<xs:attribute name="ItemGroupOID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="PresentInFormAttributeDefinition">
		<xs:attribute name="FormOID" type="odm:oidref" use="required"/>
		<xs:attribute name="ShowGroup" type="odm:text" />
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ItemGroupRepeatAttributeDefinition">
		<xs:attribute name="RepeatNumber" type="odm:integer"/>
		<xs:attribute name="RepeatMax" type="odm:integer"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ItemDetailsAttributeDefinition">
		<xs:attribute name="ItemOID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ItemPresentInFormAttributeDefinition">
		<xs:attribute name="FormOID" type="odm:oidref" use="required"/>
		<xs:attribute name="ParentItemOID" type="odm:oidref"/>
		<xs:attribute name="ColumnNumber" type="odm:integer"/>
		<xs:attribute name="PageNumber" type="odm:text"/>
		<xs:attribute name="DefaultValue" type="odm:text"/>
		<xs:attribute name="PHI" type="odm:text" use="required"/>
		<xs:attribute name="ShowItem" type="odm:text" />
		<xs:attribute name="OrderInForm" type="odm:integer" />
	</xs:attributeGroup>
	
	<xs:attributeGroup name="SimpleConditionalDisplayAttributeDefinition"/>
	<xs:attributeGroup name="ItemResponseAttributeDefinition">
		<xs:attribute name="ResponseType" type="odm:text" use="required"/>
		<xs:attribute name="ResponseLayout" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="SubjectGroupDataAttributeDefinition">
		<xs:attribute name="StudyGroupClassID" type="odm:oid" use="required"/>
		<xs:attribute name="StudyGroupClassName" type="odm:text"/>
		<xs:attribute name="StudyGroupName" type="odm:value"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="AuditLogsAttributeDefinition">
		<xs:attribute name="EntityID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AuditLogAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid"/>
		<xs:attribute name="UserID" type="odm:oidref"/>
		<xs:attribute name="DateTimeStamp" type="odm:datetime"/>
		<xs:attribute name="AuditType" type="odm:text"/>
		<xs:attribute name="ReasonForChange" type="odm:text"/>
		<xs:attribute name="OldValue" type="odm:text"/>
		<xs:attribute name="NewValue" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="DiscrepancyNotesAttributeDefinition">
		<xs:attribute name="EntityID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="DiscrepancyNoteAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid"/>
		<xs:attribute name="NoteType" type="odm:text"/>
		<xs:attribute name="Status" type="odm:text"/>
		<xs:attribute name="DateUpdated" type="odm:date"/>
		<xs:attribute name="NumberOfChildNotes" type="odm:integer"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ChildNoteAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid"/>
		<xs:attribute name="Status" type="odm:text"/>
		<xs:attribute name="DateCreated" type="odm:date"/>
	</xs:attributeGroup>
	

	<xs:attributeGroup name="PresentInEventDefinitionAttributeDefinition">
		<xs:attribute name="StudyEventOID" type="odm:oidref" use="required"/>
		<xs:attribute name="IsDefaultVersion" type="odm:text"/>
		<xs:attribute name="NullValues" type="odm:text"/>
		<xs:attribute name="PasswordRequired" type="odm:text"/>
		<xs:attribute name="DoubleDataEntry" type="odm:text"/>
		<xs:attribute name="HideCRF" type="odm:text"/>
		<xs:attribute name="SourceDataVerification" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="MultiSelectListRefAttributeExtension"/>
	<xs:attributeGroup name="MultiSelectListAttributeExtension"/>
	<xs:attributeGroup name="MultiSelectListItemAttributeExtension"/>
	<xs:attributeGroup name="StudyGroupClassListAttributeExtension"/>
	<xs:attributeGroup name="StudyGroupItemAttributeExtension"/>
	<xs:attributeGroup name="StudyDetailsAttributeExtension"/>
	<xs:attributeGroup name="StudyDescriptionAndStatusAttributeExtension"/>
	<xs:attributeGroup name="ConditionsAndEligibilityAttributeExtension"/>
	<xs:attributeGroup name="AgeAttributeExtension"/>
	<xs:attributeGroup name="FacilityInformationAttributeExtension"/>
	<xs:attributeGroup name="RelatedInformationAttributeExtension"/>
	<xs:attributeGroup name="StudyParameterConfigurationAttributeExtension"/>
	<xs:attributeGroup name="StudyParameterListRefAttributeExtension"/>
	<xs:attributeGroup name="StudyParameterListAttributeExtension"/>
	<xs:attributeGroup name="StudyParameterListItemAttributeExtension"/>
	<!-- <xs:attributeGroup name="EventDefinitionDetailsRefAttributeExtension"/> -->
	<xs:attributeGroup name="EventDefinitionDetailsAttributeExtension"/>
	<xs:attributeGroup name="FormDetailsAttributeExtension"/>
	<xs:attributeGroup name="PresentInEventDefinitionAttributeExtension"/>
	<xs:attributeGroup name="ItemGroupDetailsAttributeExtension"/>
	<xs:attributeGroup name="PresentInFormAttributeExtension"/>
	<xs:attributeGroup name="ItemGroupRepeatAttributeExtension"/>
	<xs:attributeGroup name="ItemDetailsRefAttributeExtension"/>
	<xs:attributeGroup name="ItemDetailsAttributeExtension"/>
	<xs:attributeGroup name="ItemPresentInFormAttributeExtension"/>
	<xs:attributeGroup name="SimpleConditionalDisplayAttributeExtension"/>
	<xs:attributeGroup name="ItemResponseAttributeExtension"/>
	<xs:attributeGroup name="SubjectGroupDataAttributeExtension"/>
	<xs:attributeGroup name="AuditLogsAttributeExtension"/>
	<xs:attributeGroup name="AuditLogAttributeExtension"/>
	<xs:attributeGroup name="DiscrepancyNotesAttributeExtension"/>
	<xs:attributeGroup name="DiscrepancyNoteAttributeExtension"/>
	<xs:attributeGroup name="ChildNoteAttributeExtension"/>
	<xs:attributeGroup name="SectionDetailsAttributeExtension"/>
	<xs:attributeGroup name="SectionAttributeExtension"/>
</xs:schema>