core/src/main/resources/properties/OpenClinica-ODM1-2-1-OC1-foundation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.openclinica.org/ns/odm_ext_v121/v3.1"
           xmlns="http://www.openclinica.org/ns/odm_ext_v121/v3.1"
           xmlns:odm="http://www.cdisc.org/ns/odm/v1.2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!--<xs:import schemaLocation="http://www.w3.org/2001/03/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" /> -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:import schemaLocation="ODM1-2-1.xsd" namespace="http://www.cdisc.org/ns/odm/v1.2" />
    <xs:simpleType name="dateOrDatetime">
          <xs:restriction base="xs:string">
            <xs:pattern   value="[0-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9](T[0-2][0-9]:[0-5][0-9]:[0-5][0-9](\.[0-9]+)?)?((\+|-)[0-2][0-9]:[0-5][0-9])?"/>
          </xs:restriction>
    </xs:simpleType>

	<xs:complexType name="OCodmComplexTypeDefinition-MultiSelectListRef">
		<xs:sequence>
			<xs:group ref="MultiSelectListRefElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="MultiSelectListRefAttributeDefinition"/>
		<xs:attributeGroup ref="MultiSelectListRefAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-MultiSelectList">
		<xs:sequence>
			<xs:element ref="MultiSelectListItem" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="MultiSelectListElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="MultiSelectListAttributeDefinition"/>
		<xs:attributeGroup ref="MultiSelectListAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-MultiSelectListItem">
		<xs:sequence>
			<xs:element      ref="odm:Decode"/>
			<xs:group        ref="MultiSelectListItemElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="MultiSelectListItemAttributeDefinition"/>
		<xs:attributeGroup ref="MultiSelectListItemAttributeExtension"/>
	</xs:complexType>

	<xs:complexType name="OCodmComplexTypeDefinition-StudyGroupClassList">
		<xs:sequence>
			<xs:element ref="StudyGroupItem" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="StudyGroupClassListElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyGroupClassListAttributeDefinition"/>
		<xs:attributeGroup ref="StudyGroupClassListAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-StudyGroupItem">
		<xs:sequence>
			<xs:group ref="StudyGroupItemElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="StudyGroupItemAttributeDefinition"/>
		<xs:attributeGroup ref="StudyGroupItemAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-SubjectGroupData">
		<xs:sequence>
			<xs:group ref="SubjectGroupDataElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="SubjectGroupDataAttributeDefinition"/>
		<xs:attributeGroup ref="SubjectGroupDataAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-AuditLogs">
		<xs:sequence>
			<xs:element ref="AuditLog" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="AuditLogsElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="AuditLogsAttributeDefinition"/>
		<xs:attributeGroup ref="AuditLogsAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-AuditLog">
		<xs:sequence>
			<xs:group ref="AuditLogElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="AuditLogAttributeDefinition"/>
		<xs:attributeGroup ref="AuditLogAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-DiscrepancyNotes">
		<xs:sequence>
			<xs:element ref="DiscrepancyNote" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="DiscrepancyNotesElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="DiscrepancyNotesAttributeDefinition"/>
		<xs:attributeGroup ref="DiscrepancyNotesAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-DiscrepancyNote">
		<xs:sequence>
			<xs:element ref="ChildNote" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="DiscrepancyNoteElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="DiscrepancyNoteAttributeDefinition"/>
		<xs:attributeGroup ref="DiscrepancyNoteAttributeExtension"/>
	</xs:complexType>
	
	<xs:complexType name="OCodmComplexTypeDefinition-ChildNote">
		<xs:sequence>
			<xs:element name="Description" type="odm:text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DetailedNote" type="odm:text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="odm:UserRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ChildNoteElementExtension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="ChildNoteAttributeDefinition"/>
		<xs:attributeGroup ref="ChildNoteAttributeExtension"/>
	</xs:complexType>
	

	
	<xs:group name="MultiSelectListRefElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="MultiSelectListElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="MultiSelectListItemElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyGroupClassListElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="StudyGroupItemElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="SubjectGroupDataElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="AuditLogsElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="AuditLogElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="DiscrepancyNotesElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="DiscrepancyNoteElementExtension"> <xs:sequence/>  </xs:group>
	<xs:group name="ChildNoteElementExtension"> <xs:sequence/>  </xs:group>


	<xs:element name="MultiSelectListRef" type="OCodmComplexTypeDefinition-MultiSelectListRef"/>
	<xs:element name="MultiSelectList" type="OCodmComplexTypeDefinition-MultiSelectList"/>
	<xs:element name="MultiSelectListItem" type="OCodmComplexTypeDefinition-MultiSelectListItem"/>
	<xs:element name="StudyGroupClassList" type="OCodmComplexTypeDefinition-StudyGroupClassList">
		<xs:unique name="UC-SGC-1">
			<xs:selector xpath="StudyGroupItem"/>
			<xs:field xpath="@Name"/>
		</xs:unique>
	</xs:element>
	<xs:element name="StudyGroupItem" type="OCodmComplexTypeDefinition-StudyGroupItem"/>
	<xs:element name="SubjectGroupData" type="OCodmComplexTypeDefinition-SubjectGroupData"/>
	<xs:element name="AuditLogs" type="OCodmComplexTypeDefinition-AuditLogs"/>
	<xs:element name="AuditLog" type="OCodmComplexTypeDefinition-AuditLog"/>
	<xs:element name="DiscrepancyNotes" type="OCodmComplexTypeDefinition-DiscrepancyNotes"/>
	<xs:element name="DiscrepancyNote" type="OCodmComplexTypeDefinition-DiscrepancyNote"/>
	<xs:element name="ChildNote" type="OCodmComplexTypeDefinition-ChildNote"/>

	
	<xs:attributeGroup name="MultiSelectListRefAttributeDefinition">
		<xs:attribute name="MultiSelectListID" type="odm:oidref" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="MultiSelectListAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid" use="required"/>
		<xs:attribute name="Name" type="odm:text"/>
		<xs:attribute name="DataType" type="odm:DataType"/>
		<xs:attribute name="ActualDataType" type="odm:DataType"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="MultiSelectListItemAttributeDefinition">
            <xs:attribute  name="CodedOptionValue" type="odm:value" use="required"/>
        </xs:attributeGroup>  
        
    <xs:attributeGroup name="ItemDefAttributeDefinition">
		<xs:attribute name="FormOIDs" type="odm:text" form="qualified"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="StudyGroupClassListAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid" use="required"/>
		<xs:attribute name="Name" type="odm:text"/>
		<xs:attribute name="Type" type="odm:text"/>
		<xs:attribute name="Status" type="odm:text"/>
		<xs:attribute name="SubjectAssignment" type="odm:text"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="StudyGroupItemAttributeDefinition">
		<xs:attribute name="Name" type="odm:text"/>
		<xs:attribute name="Description" type="odm:text"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="SubjectGroupDataAttributeDefinition">
		<xs:attribute name="StudyGroupClassID" type="odm:oid" use="required"/>
		<xs:attribute name="StudyGroupClassName" type="odm:text"/>
		<xs:attribute name="StudyGroupName" type="odm:value"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="SubjectDataAttributeDefinition">
		<xs:attribute name="StudySubjectID" type="odm:oid" form="qualified" />
		<xs:attribute name="UniqueIdentifier" type="odm:text" form="qualified" />
		<xs:attribute name="Status" type="odm:text" form="qualified" />
		<xs:attribute name="SecondaryID" type="odm:text" form="qualified" />
		<xs:attribute name="DateOfBirth" type="odm:date" form="qualified" />
		<xs:attribute name="YearOfBirth" type="odm:integer" form="qualified" />
		<xs:attribute name="Sex" type="odm:text" form="qualified" />
	</xs:attributeGroup>

	<xs:attributeGroup name="StudyEventDataAttributeDefinition">
		<xs:attribute name="StudyEventLocation" type="odm:text" form="qualified" />
		<xs:attribute name="StartDate" type="dateOrDatetime" form="qualified" />
		<xs:attribute name="EndDate" type="dateOrDatetime" form="qualified" />
		<xs:attribute name="Status" type="odm:text" form="qualified" />
		<xs:attribute name="SubjectAgeAtEvent" type="odm:integer" form="qualified" />
	</xs:attributeGroup>

	<xs:attributeGroup name="FormDataAttributeDefinition">
		<xs:attribute name="Version" type="odm:text" form="qualified" />
		<xs:attribute name="InterviewerName" type="odm:text" form="qualified" />
		<xs:attribute name="InterviewDate" type="odm:date" form="qualified" />
		<xs:attribute name="Status" type="odm:text" form="qualified" />
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ItemDataAttributeDefinition">
		<xs:attribute name="ReasonForNull" type="odm:text" form="qualified" />
	</xs:attributeGroup>
	
	<xs:attributeGroup name="AuditLogsAttributeDefinition">
		<xs:attribute name="EntityID" type="odm:oid" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="AuditLogAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid"/>
		<xs:attribute name="UserID" type="odm:oid"/>
		<xs:attribute name="DateTimeStamp" type="odm:datetime"/>
		<xs:attribute name="Type" type="odm:text"/>
		<xs:attribute name="ReasonForChange" type="odm:text"/>
		<xs:attribute name="OldValue" type="odm:text"/>
		<xs:attribute name="NewValue" type="odm:text"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="DiscrepancyNotesAttributeDefinition">
		<xs:attribute name="EntityID" type="odm:oid" use="required"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="DiscrepancyNoteAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid"/>
		<xs:attribute name="NoteType" type="odm:text"/>
		<xs:attribute name="Status" type="odm:text"/>
		<xs:attribute name="DateUpdated" type="odm:date"/>
		<xs:attribute name="NumberOfChildNotes" type="odm:integer"/>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="ChildNoteAttributeDefinition">
		<xs:attribute name="ID" type="odm:oid"/>
		<xs:attribute name="Status" type="odm:text"/>
		<xs:attribute name="DateCreated" type="odm:date"/>
	</xs:attributeGroup>


	<xs:attributeGroup name="MultiSelectListRefAttributeExtension"/>
	<xs:attributeGroup name="MultiSelectListAttributeExtension"/>
	<xs:attributeGroup name="MultiSelectListItemAttributeExtension"/>
	<xs:attributeGroup name="StudyGroupClassListAttributeExtension"/>
	<xs:attributeGroup name="StudyGroupItemAttributeExtension"/>
	<xs:attributeGroup name="SubjectGroupDataAttributeExtension"/>
	<xs:attributeGroup name="SubjectDataAttributeExtension"/>
	<xs:attributeGroup name="StudyEventDataAttributeExtension"/>
	<xs:attributeGroup name="FormDataAttributeExtension"/>
	<xs:attributeGroup name="ItemDataAttributeExtension"/>
	<xs:attributeGroup name="AuditLogsAttributeExtension"/>
	<xs:attributeGroup name="AuditLogAttributeExtension"/>
	<xs:attributeGroup name="DiscrepancyNotesAttributeExtension"/>
	<xs:attributeGroup name="DiscrepancyNoteAttributeExtension"/>
	<xs:attributeGroup name="ChildNoteAttributeExtension"/>
</xs:schema>