core/src/main/resources/properties/rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="RuleImport">
        <xs:annotation>
            <xs:documentation> The top level root element. Allows the definition of default values
                for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RuleAssignment" maxOccurs="unbounded"/>
                <xs:element ref="RuleDef"  minOccurs="0"  maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RuleAssignment" type="RuleAssignmentType"/>
    <xs:complexType name="RuleAssignmentType">
        <xs:sequence>
            <xs:element ref="Target"/>
            <xs:element ref="RunOnSchedule" minOccurs="0"/>
            <xs:element ref="RuleRef" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RuleRef" type="RuleRefType"/>
    <xs:complexType name="RuleRefType">
        <xs:sequence>
            <xs:element ref="DiscrepancyNoteAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="EmailAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="ShowAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="HideAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="InsertAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="EventAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="NotificationAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="RandomizeAction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="RuleRefAttributeType"/>
    </xs:complexType>

    <xs:element name="RuleDef" type="RuleDefType"/>
    <xs:complexType name="RuleDefType">
        <xs:sequence>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Expression" type="TargetType"/>
        </xs:sequence>
        <xs:attributeGroup ref="RuleDefAttributeType"/>
    </xs:complexType>

    <xs:element name="DiscrepancyNoteAction" type="DiscrepancyNoteActionType"/>
    <xs:complexType name="DiscrepancyNoteActionType">
        <xs:sequence>
            <xs:element name="Run" type="ActionRunType" minOccurs="0"/>
            <xs:element name="Message" type="xs:string"/>
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
    </xs:complexType>
    
    <xs:element name="EmailAction" type="EmailActionType"/>
    <xs:complexType name="EmailActionType">
        <xs:sequence>
            <xs:element name="Run" type="ActionRunType" minOccurs="0"/>
            <xs:element name="Message" type="xs:string"/>
            <xs:element name="To" type="xs:string"/>
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
    </xs:complexType>
    
    <xs:element name="NotificationAction" type="NotificationActionType"/>
    <xs:complexType name="NotificationActionType">
        <xs:sequence>
            <xs:element name="To" type="xs:string"/>
            <xs:element name="Subject" type="xs:string" minOccurs="0"/>
            <xs:element name="Message" type="xs:string"/>
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
    </xs:complexType>

    <xs:element name="ShowAction" type="ShowActionType"/>
    <xs:complexType name="ShowActionType">
        <xs:sequence>
            <xs:element name="Run" type="ActionRunType" minOccurs="0"/>
            <xs:element name="Message" type="xs:string"/>
            <xs:element name="DestinationProperty" type="PropertyType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
    </xs:complexType>
    
    <xs:element name="HideAction" type="HideActionType"/>
    <xs:complexType name="HideActionType">
        <xs:sequence>
            <xs:element name="Run" type="ActionRunType" minOccurs="0"/>
            <xs:element name="Message" type="xs:string"/>
            <xs:element name="DestinationProperty" type="PropertyType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
    </xs:complexType>
    
   <xs:element name="InsertAction" type="InsertActionType"/>
    <xs:complexType name="InsertActionType">
        <xs:sequence>
            <xs:element name="Run" type="ActionRunType" minOccurs="0"/>
            <xs:element name="DestinationProperty" type="PropertyType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
        <xs:attribute name="OID" type="xs:string"></xs:attribute>
    </xs:complexType>
    
   <xs:element name="RandomizeAction" type="RandomizeActionType"/>
    <xs:complexType name="RandomizeActionType">
        <xs:sequence>
            <xs:element name="Run" type="ActionRunType" minOccurs="0"/>
            <xs:element name="DestinationProperty" type="SubPropertyType" maxOccurs="unbounded"/>
            <xs:element name="StratificationFactors">
             <xs:complexType>
                 <xs:sequence>
                      <xs:element type="xs:string" name="StratificationFactor" maxOccurs="unbounded" minOccurs="0"/>
                 </xs:sequence>
             </xs:complexType>
           </xs:element>            
        </xs:sequence>
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
        <xs:attribute name="OID" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:element name="EventAction" type="EventActionType">
    </xs:element>
    <xs:complexType name="EventActionType">
        <xs:sequence>
           <xs:element name="RunOnStatus" type="RunOnType" minOccurs="0"/>
           <xs:element name="EventDestination" type="EventDestinationType" maxOccurs="unbounded"/>
        </xs:sequence>
         
        <xs:attributeGroup ref="DiscrepancyNoteActionAttributeType"/>
        <xs:attribute name="OID" type="xs:string"></xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="RunOnType" >
      <xs:attribute name="not_scheduled"      type="xs:boolean" default="true"/>
      <xs:attribute name="scheduled"          type="xs:boolean" default="true"/>
      <xs:attribute name="data_entry_started" type="xs:boolean" default="false"/>
      <xs:attribute name="completed"          type="xs:boolean" default="false"/>
      <xs:attribute name="skipped"            type="xs:boolean" default="false"/>
      <xs:attribute name="stopped"            type="xs:boolean" default="false"/>
      <xs:attribute name="signed"             type="xs:boolean" use="optional" fixed="false"/>
      <xs:attribute name="locked"             type="xs:boolean" use="optional" fixed="false"/>
    </xs:complexType>

    <xs:complexType name="EventDestinationType">
      <xs:sequence>
        <xs:element name="ValueExpression" type="TargetType" minOccurs="0"/>
      </xs:sequence>		          
      <xs:attribute name="Property" type="xs:string" use="required"/>
    </xs:complexType>
   
   <xs:complexType name="ValueExpressionType">
   <xs:sequence></xs:sequence>
   </xs:complexType>
   
    <xs:attributeGroup name="DiscrepancyNoteActionAttributeType">
        <xs:attribute name="IfExpressionEvaluates" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="RuleRefAttributeType">
        <xs:attribute name="OID" type="xs:string" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="RuleDefAttributeType">
        <xs:attribute name="OID" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string"/>
    </xs:attributeGroup>
    
    <xs:attributeGroup name="PropertyAttributeType">
        <xs:attribute name="OID" type="xs:string" use="required"/>
        <xs:attribute name="Value" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    

     <xs:attributeGroup name="ActionRunAttributeType">
        <xs:attribute name="AdministrativeDataEntry" type="xs:boolean" use="required"/>
        <xs:attribute name="InitialDataEntry" type="xs:boolean" use="required"/>
        <xs:attribute name="DoubleDataEntry" type="xs:boolean" use="required"/>
         <!--
          The attribute for ImportDataDataEntry is not supported in 3.1. 
          You may still provide TRUE or FALSE as values, but imported data will never be subjected to Rules 
          at the time of Import. 
          Please execute the rules in Batch after the data has been imported to verify the data is accurate.
         -->
        <xs:attribute name="ImportDataEntry" type="xs:boolean" use="required"/>
        <xs:attribute name="Batch" type="xs:boolean" use="required"/>
    </xs:attributeGroup>

    <xs:element name="Target" type="TargetType"/>
    <xs:complexType name="TargetType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Context" type="contextType" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:element name="RunOnSchedule" type="RunOnScheduleType"/>
    <xs:complexType name="RunOnScheduleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Time" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>



    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element name="ValueExpression" type="TargetType" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="PropertyAttributeType"/>
    </xs:complexType>
    

    <xs:complexType name="SubPropertyType">
        <xs:attribute name="OID" type="xs:string" use="required"/>
    </xs:complexType>



    <xs:complexType name="StratificationFactorsType">
        <xs:sequence>
            <xs:element name="StratificationFactor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>








     <xs:complexType name="ActionRunType">
        <xs:sequence>
        </xs:sequence>
        <xs:attributeGroup ref="ActionRunAttributeType"/>
    </xs:complexType>

    <xs:simpleType name="contextType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OC_RULES_V1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
