ws-cabig/src/main/webapp/WEB-INF/schemas/clinicalConnector/ClinicalConnector.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iso="uri:iso.org:21090" xmlns:domain="http://clinicalconnector.nci.nih.gov" targetNamespace="http://clinicalconnector.nci.nih.gov" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd"/>
	<xs:element name="RegisterSubjectRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestorID" type="iso:ST" minOccurs="0"/>
				<xs:element name="studySubject" type="domain:StudySubject"/>
				<xs:element name="performedSubjectMilestone" type="domain:PerformedSubjectMilestone"/>
				<xs:element name="scheduledEpoch" type="domain:ScheduledEpoch" minOccurs="0"/>
				<xs:element name="scheduledArm" type="domain:ScheduledArm" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegisterSubjectResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="indicator" type="iso:BL"/>
				<xs:element name="message" type="domain:Message" minOccurs="0"/>
				<xs:element name="patientIdentifier" type="iso:II"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StudySubject">
		<xs:sequence>
			<xs:element name="birthDate" type="iso:TS"/>
			<xs:element name="identifier" type="iso:II"/>
			<xs:element name="name" type="iso:EN.PN"/>
			<xs:element name="raceCode" type="iso:CD"/>
			<xs:element name="sexCode" type="iso:CD"/>
			<xs:element name="studyIdentifier" type="iso:II"/>
			<xs:element name="studySiteIdentifier" type="iso:II"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PerformedSubjectMilestone">
		<xs:sequence>
			<xs:element name="informedConsentDate" type="iso:TS"/>
			<xs:element name="registrationDate" type="iso:TS"/>
			<xs:element name="registrationSiteIdentifier" type="iso:II"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScheduledEpoch">
		<xs:sequence>
			<xs:element name="description" type="iso:ST"/>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="scheduledStartDate" type="iso:TS"/>
			<xs:element name="typeCode" type="iso:CD" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScheduledArm">
		<xs:sequence>
			<xs:element name="description" type="iso:ST"/>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="typeCode" type="iso:CD" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Elements for Load Labs -->
	<xs:element name="LoadLabsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestorID" type="iso:ST" minOccurs="0"/>
				<xs:element name="performedClinicalResult" type="domain:PerformedClinicalResult" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadLabsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="indicator" type="iso:BL"/>
				<xs:element name="message" type="domain:Message" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PerformedClinicalResult">
		<xs:sequence>
			<xs:element name="asCollectedIndicator" type="iso:BL"/>
			<xs:element name="comment" type="iso:SC"/>
			<xs:element name="confidentialityCode" type="iso:CD"/>
			<xs:element name="numericalResult" type="iso:PQ"/>
			<xs:element name="referenceRange" type="iso:IVL_PQ"/>
			<xs:element name="referenceRangeComment" type="iso:ST"/>
			<xs:element name="reportedDate" type="iso:TS"/>
			<xs:element name="reportedResultStatusCode" type="iso:CD"/>
			<xs:element name="textResult" type="iso:ST"/>
			<xs:element name="uncertaintyCode" type="iso:CD"/>
			<xs:element name="performedObservation" type="domain:PerformedObservation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PerformedObservation">
		<xs:sequence>
			<xs:element name="activityNameCode" type="iso:CD"/>
			<xs:element name="studyProtocolIdentifier" type="iso:II"/>
			<xs:element name="studySubjectIdentifier" type="iso:II"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Elements for study creation -->
	<xs:element name="CreateStudyRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestorID" type="iso:ST" minOccurs="0"/>
				<xs:element name="studyProtocol" type="domain:StudyProtocol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateStudyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="indicator" type="iso:BL"/>
				<xs:element name="message" type="domain:Message" minOccurs="0"/>
				<xs:element name="studyIdentifier" type="iso:II"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StudyProtocol">
		<xs:sequence>
			<xs:element name="identifier" type="iso:II"/>
			<xs:element name="allocationCode" type="iso:CD"/>
			<xs:element name="blindingSchemaCode" type="iso:CD"/>
			<xs:element name="coordinatingCenterStudyStatusCode" type="iso:CD"/>
			<xs:element name="dataEntryStatusCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="multiInstitutionIndicator" type="iso:BL"/>
			<xs:element name="officialTitle" type="iso:ST" minOccurs="0"/>
			<xs:element name="phaseCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="primaryPurposeCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="publicDescription" type="iso:ST"/>
			<xs:element name="publicTitle" type="iso:ST"/>
			<xs:element name="scientificDescription" type="iso:ST" minOccurs="0"/>
			<xs:element name="targetAccrualNumberRange" type="iso:IVL_INT"/>
			<xs:element name="studyCoordinatingCenter" type="domain:StudyCoordinatingCenter"/>
			<xs:element name="studyInvestigator" type="domain:StudyInvestigator"/>
			<xs:element name="studyFundingSponsor" type="domain:StudyResourceProvider" minOccurs="0"/>
			<xs:element name="studySite" type="domain:StudySite" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="studyProtocolIdentification" type="domain:StudyProtocolIdentification" maxOccurs="unbounded"/>
			<xs:element name="epoch" type="domain:Epoch" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StudyResourceProvider">
		<xs:complexContent>
			<xs:extension base="domain:ResourceProvider">
				<xs:sequence>
					<xs:element name="primaryIndicator" type="iso:BL" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceProvider">
		<xs:sequence>
			<xs:element name="identifier" type="iso:II"/>
			<xs:element name="statusCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="statusDateRange" type="iso:IVL_TS" minOccurs="0"/>
			<xs:element name="studyInvestigator" type="domain:StudyInvestigator" minOccurs="0"/>
			<xs:element name="organization" type="domain:Organization" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StudyCoordinatingCenter">
		<xs:complexContent>
			<xs:extension base="domain:Organization">
				<xs:sequence>
					<xs:element name="responsibilityCode" type="iso:DSET_CD" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StudyInvestigator">
		<xs:complexContent>
			<xs:extension base="domain:Person">
				<xs:sequence>
					<xs:element name="identifier" type="iso:II"/>
					<xs:element name="roleCode" type="iso:CD"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealthCareProvider">
		<xs:complexContent>
			<xs:extension base="domain:Person">
				<xs:sequence>
					<xs:element name="certificateLicenseText" type="iso:ST"/>
					<xs:element name="identifier" type="iso:II"/>
					<xs:element name="postalAddress" type="iso:AD"/>
					<xs:element name="statusCode" type="iso:CD"/>
					<xs:element name="statusDateRange" type="iso:IVL_TS"/>
					<xs:element name="telecomAddress" type="iso:DSET_TEL"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StudySite">
		<xs:sequence>
			<xs:element name="dateRange" type="iso:IVL_TS" minOccurs="0"/>
			<xs:element name="identifier" type="iso:II"/>
			<xs:element name="leadOrganizationIndicator" type="iso:BL" minOccurs="0"/>
			<xs:element name="reviewBoardApprovalDate" type="iso:TS" minOccurs="0"/>
			<xs:element name="statusCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="statusDateRange" type="iso:IVL_TS"  minOccurs="0"/>
			<xs:element name="targetAccrualNumber" type="iso:INT" minOccurs="0"/>
			<xs:element name="studySiteInvestigator" type="domain:HealthCareProvider" minOccurs="0"/>
			<xs:element name="organization" type="domain:Organization" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StudyProtocolIdentification">
		<xs:sequence>
			<xs:element name="assignedDate" type="iso:TS"/>
			<xs:element name="identifier" type="iso:II"/>
			<xs:element name="primaryIndicator" type="iso:BL"/>
			<xs:element name="typeCode" type="iso:CD"/>
			<xs:element name="identifierAssigner" type="domain:Organization" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Epoch">
		<xs:sequence>
			<xs:element name="description" type="iso:ST"/>
			<xs:element name="firstEpochIndicator" type="iso:BL" minOccurs="0"/>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="typeCode" type="iso:CD"/>
			<xs:element name="studySegment" type="domain:StudySegment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StudySegment">
		<xs:sequence>
			<xs:element name="description" type="iso:ST"/>
			<xs:element name="firstStudySegmentIndicator" type="iso:BL" minOccurs="0"/>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="targetAccrualNumberRange" type="iso:IVL_INT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="academicDegree" type="iso:DSET_CD" minOccurs="0"/>
			<xs:element name="deathIndicator" type="iso:BL" minOccurs="0"/>
			<xs:element name="educationLevelCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="ethnicGroupCode" type="iso:DSET_CD" minOccurs="0"/>
			<xs:element name="initials" type="iso:ST" minOccurs="0"/>
			<xs:element name="maritalStatusCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="name" type="iso:EN.PN"/>
			<xs:element name="occupationDateRange" type="iso:IVL_TS" minOccurs="0"/>
			<xs:element name="postalAddress" type="iso:AD" minOccurs="0"/>
			<xs:element name="primaryOccupationCode" type="iso:CD" minOccurs="0"/>
			<xs:element name="raceCode" type="iso:DSET_CD" minOccurs="0"/>
			<xs:element name="statusCode" type="iso:CD"/>
			<xs:element name="statusDateRange" type="iso:IVL_TS" minOccurs="0"/>
			<xs:element name="telecomAddress" type="iso:DSET_TEL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:sequence>
			<xs:element name="description" type="iso:ST" minOccurs="0"/>
			<xs:element name="identifier" type="iso:II"/>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="postalAddress" type="iso:AD"/>
			<xs:element name="telecomAddress" type="iso:DSET_TEL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Types used for response and error conditions -->
	<xs:element name="CCBusinessFault" type="domain:CCBusinessError"/>
	<xs:element name="CCSystemFault" type="domain:CCSystemError"/>
	<xs:element name="CCDataValidationFault" type="domain:CCDataValidationError"/>
	<xs:element name="CCLoadLabsFault" type="domain:CCLoadLabsError"/>
	<xs:complexType name="Message">
		<xs:sequence>
			<xs:element name="code" type="xs:int"/>
			<xs:element name="reason" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CCBaseError" abstract="true">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="businessErrorCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CC10110"/>
			<xs:enumeration value="CC10120"/>
			<xs:enumeration value="CC10130"/>
			<xs:enumeration value="CC10210"/>
			<xs:enumeration value="CC10220"/>
			<xs:enumeration value="CC10230"/>
			<xs:enumeration value="CC10310"/>
			<xs:enumeration value="CC10320"/>
			<xs:enumeration value="CC10330"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="systemErrorCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CC10010"/>
			<xs:enumeration value="CC10020"/>
			<xs:enumeration value="CC10030"/>
			<xs:enumeration value="CC10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CCBusinessError">
		<xs:complexContent>
			<xs:extension base="domain:CCBaseError">
				<xs:sequence>
					<xs:element name="code" type="domain:businessErrorCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CCSystemError">
		<xs:complexContent>
			<xs:extension base="domain:CCBaseError">
				<xs:sequence>
					<xs:element name="code" type="domain:systemErrorCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ValidationError">
		<xs:sequence>
			<xs:element name="inputName" type="xs:string"/>
			<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
			<xs:element name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CCDataValidationError">
		<xs:complexContent>
			<xs:extension base="domain:CCBusinessError">
				<xs:sequence>
					<xs:element name="ValidationError" type="domain:ValidationError" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LoadLabError">
		<xs:sequence>
			<xs:element name="performedClinicalResult" type="domain:PerformedClinicalResult"/>
			<xs:choice>
				<xs:element name="businessError" type="domain:CCBusinessError"/>
				<xs:element name="dataValidationError" type="domain:CCDataValidationError"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CCLoadLabsError">
		<xs:complexContent>
			<xs:extension base="domain:CCBaseError">
				<xs:sequence>
					<xs:element name="LoadLabError" type="domain:LoadLabError" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
