ws-cabig/src/main/webapp/WEB-INF/schemas/clinicalConnector/DataCaptureService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://clinicalconnector.nci.nih.gov" xmlns:iso="uri:iso.org:21090" xmlns:intf="http://clinicalconnector.nci.nih.gov" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://clinicalconnector.nci.nih.gov">
	<wsdl:types>
		<schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://clinicalconnector.nci.nih.gov" schemaLocation="http://svn.akazaresearch.com/oc/schemas/ClinicalConnector.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="LoadLabsRequestMessage">
		<wsdl:part name="input" element="impl:LoadLabsRequest"/>
	</wsdl:message>
	<wsdl:message name="LoadLabsResponseMessage">
		<wsdl:part name="output" element="impl:LoadLabsResponse"/>
	</wsdl:message>
	<wsdl:message name="CCBusinessFaultMessage">
		<wsdl:part name="fault" element="impl:CCBusinessFault"/>
	</wsdl:message>
	<wsdl:message name="CCSystemFaultMessage">
		<wsdl:part name="fault" element="impl:CCSystemFault"/>
	</wsdl:message>
	<wsdl:message name="CCLoadLabsFaultMessage">
		<wsdl:part name="fault" element="impl:CCLoadLabsFault"/>
	</wsdl:message>
	<wsdl:portType name="DataCapturePortType">
		<wsdl:operation name="loadLabs" parameterOrder="input">
			<wsdl:input name="LoadLabsRequestMessage" message="impl:LoadLabsRequestMessage"/>
			<wsdl:output name="LoadLabsResponseMessage" message="impl:LoadLabsResponseMessage"/>
			<wsdl:fault name="loadLabsBusinessFault" message="impl:CCLoadLabsFaultMessage"/>
			<wsdl:fault name="systemFault" message="impl:CCSystemFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="rollbackLoadLabs" parameterOrder="input">
			<wsdl:input name="RollbackLoadLabsRequestMessage" message="impl:LoadLabsRequestMessage"/>
			<wsdl:output name="RollbackLoadLabsResponseMessage" message="impl:LoadLabsResponseMessage"/>
			<wsdl:fault name="loadLabsBusinessFault" message="impl:CCLoadLabsFaultMessage"/>
			<wsdl:fault name="systemFault" message="impl:CCSystemFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DataCaptureSoapBinding" type="impl:DataCapturePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="loadLabs">
		        <soap:operation soapAction="loadLabs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="loadLabsBusinessFault">
				<soap:body use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="systemFault">
				<soap:body use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="rollbackLoadLabs">
		         <soap:operation soapAction="rollbackLoadLabs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="loadLabsBusinessFault">
				<soap:body use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="systemFault">
				<soap:body use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DataCaptureService">
		<wsdl:port name="DataCapture" binding="impl:DataCaptureSoapBinding">
			<soap:address location="http://localhost:8080/axis2/services/DataCaptureService"/>
		</wsdl:port>
	</wsdl:service>
	<!-- MESSAGES -->
	<!-- Port type (operations) -->
	<!-- BINDING (bind operations) -->
	<!-- SERVICE -->
</wsdl:definitions>
