ws-cabig/src/main/webapp/WEB-INF/schemas/clinicalConnector/StudyManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://clinicalconnector.nci.nih.gov" xmlns:iso="uri:iso.org:21090" xmlns:intf="http://clinicalconnector.nci.nih.gov" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://clinicalconnector.nci.nih.gov">
	<wsdl:types>
		<schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://clinicalconnector.nci.nih.gov" schemaLocation="./ClinicalConnector.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="CreateStudyRequestMessage">
		<wsdl:part name="input" element="impl:CreateStudyRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateStudyResponseMessage">
		<wsdl:part name="output" element="impl:CreateStudyResponse"/>
	</wsdl:message>
	<wsdl:message name="RollbackCreateStudyRequestMessage">
		<wsdl:part name="input" element="impl:CreateStudyRequest"/>
	</wsdl:message>
	<wsdl:message name="RollbackCreateStudyResponseMessage">
		<wsdl:part name="output" element="impl:CreateStudyResponse"/>
	</wsdl:message>
	<wsdl:message name="CCBusinessFaultMessage">
		<wsdl:part name="fault" element="impl:CCBusinessFault"/>
	</wsdl:message>
	<wsdl:message name="CCSystemFaultMessage">
		<wsdl:part name="fault" element="impl:CCSystemFault"/>
	</wsdl:message>
	<wsdl:message name="CCDataValidationFaultMessage">
		<wsdl:part name="fault" element="impl:CCDataValidationFault"/>
	</wsdl:message>
	<wsdl:portType name="StudyManagementPortType">
		<wsdl:operation name="createStudy" parameterOrder="input">
			<wsdl:input name="CreateStudyRequestMessage" message="impl:CreateStudyRequestMessage"/>
			<wsdl:output name="CreateStudyResponseMessage" message="impl:CreateStudyResponseMessage"/>
			<wsdl:fault name="businessFault" message="impl:CCBusinessFaultMessage"/>
			<wsdl:fault name="systemFault" message="impl:CCSystemFaultMessage"/>
			<wsdl:fault name="dataValidationFault" message="impl:CCDataValidationFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="rollbackCreateStudy" parameterOrder="input">
			<wsdl:input name="RollbackCreateStudyRequestMessage" message="impl:RollbackCreateStudyRequestMessage"/>
			<wsdl:output name="RollbackCreateStudyResponseMessage" message="impl:RollbackCreateStudyResponseMessage"/>
			<wsdl:fault name="businessFault" message="impl:CCBusinessFaultMessage"/>
			<wsdl:fault name="systemFault" message="impl:CCSystemFaultMessage"/>
			<wsdl:fault name="dataValidationFault" message="impl:CCDataValidationFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StudyManagementSoapBinding" type="impl:StudyManagementPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="createStudy">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="businessFault">
				<soap:body use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="systemFault">
				<soap:body use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="dataValidationFault">
				<soap:body use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="rollbackCreateStudy">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="businessFault">
				<soap:body use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="systemFault">
				<soap:body use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="dataValidationFault">
				<soap:body use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StudyManagementService">
		<wsdl:port name="StudyManagement" binding="impl:StudyManagementSoapBinding">
			<soap:address location="http://localhost:8080/axis2/services/StudyManagementService"/>
		</wsdl:port>
	</wsdl:service>
	<!-- MESSAGES -->
	<!-- Port type (operations) -->
	<!-- BINDING (bind operations) -->
	<!-- SERVICE -->
</wsdl:definitions>
