ws-cabig/src/main/webapp/WEB-INF/schemas/clinicalConnector/SubjectRegistrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://clinicalconnector.nci.nih.gov" xmlns:iso="uri:iso.org:21090" xmlns:intf="http://clinicalconnector.nci.nih.gov" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://clinicalconnector.nci.nih.gov">
	<wsdl:types>
		<schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://clinicalconnector.nci.nih.gov" schemaLocation="http://svn.akazaresearch.com/oc/schemas/ClinicalConnector.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="RegisterSubjectRequestMessage">
		<wsdl:part name="input" element="impl:RegisterSubjectRequest"/>
	</wsdl:message>
	<wsdl:message name="RegisterSubjectResponseMessage">
		<wsdl:part name="output" element="impl:RegisterSubjectResponse"/>
	</wsdl:message>
	<wsdl:message name="CCBusinessFaultMessage">
		<wsdl:part name="fault" element="impl:CCBusinessFault"/>
	</wsdl:message>
	<wsdl:message name="CCSystemFaultMessage">
		<wsdl:part name="fault" element="impl:CCSystemFault"/>
	</wsdl:message>
	<wsdl:message name="CCDataValidationFaultMessage">
		<wsdl:part name="fault" element="impl:CCDataValidationFault"/>
	</wsdl:message>
	<wsdl:portType name="SubjectRegistrationPortType">
		<wsdl:operation name="registerSubject" parameterOrder="input">
			<wsdl:input name="RegisterSubjectRequestMessage" message="impl:RegisterSubjectRequestMessage"/>
			<wsdl:output name="RegisterSubjectResponseMessage" message="impl:RegisterSubjectResponseMessage"/>
			<wsdl:fault name="businessFault" message="impl:CCBusinessFaultMessage"/>
			<wsdl:fault name="systemFault" message="impl:CCSystemFaultMessage"/>
			<wsdl:fault name="dataValidationFault" message="impl:CCDataValidationFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="rollbackRegisterSubject" parameterOrder="input">
			<wsdl:input name="RollbackRegisterSubjectRequestMessage" message="impl:RegisterSubjectRequestMessage"/>
			<wsdl:output name="RollbackRegisterSubjectResponseMessage" message="impl:RegisterSubjectResponseMessage"/>
			<wsdl:fault name="businessFault" message="impl:CCBusinessFaultMessage"/>
			<wsdl:fault name="systemFault" message="impl:CCSystemFaultMessage"/>
			<wsdl:fault name="dataValidationFault" message="impl:CCDataValidationFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubjectRegistrationSoapBinding" type="impl:SubjectRegistrationPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="registerSubject">
		        <soap:operation soapAction="registerSubject" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="businessFault">
				<soap:body use="literal" name="CCBusinessFaultMessage"/>
			</wsdl:fault>
			<wsdl:fault name="systemFault">
				<soap:body use="literal" name="CCSystemFaultMessage"/>
			</wsdl:fault>
			<wsdl:fault name="dataValidationFault">
				<soap:body use="literal" name="CCDataValidationFaultMessage"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="rollbackRegisterSubject">
		        <soap:operation soapAction="rollbackRegisterSubject" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="businessFault">
				<soap:body use="literal" name="CCBusinessFaultMessage"/>
			</wsdl:fault>
			<wsdl:fault name="systemFault">
				<soap:body use="literal" name="CCSystemFaultMessage"/>
			</wsdl:fault>
			<wsdl:fault name="dataValidationFault">
				<soap:body use="literal" name="CCDataValidationFaultMessage"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubjectRegistrationService">
	<wsdl:port name="SubjectRegistrationServiceHttpSoapEndpoint" binding="intf:SubjectRegistrationSoapBinding">
              <soap:address location="http://localhost:16080/axis2/services/SubjectRegistrationService"/>
        </wsdl:port>
	</wsdl:service>
	<!-- MESSAGES -->
	<!-- Port type (operations) -->
	<!-- BINDING (bind operations) -->
	<!-- SERVICE -->
</wsdl:definitions>
